{% extends "base.html.j2" %}

{% block head %}
    <title>{{item[1]}} Info</title>

    <script>
    function update_price(id, old_val)
    {
        var new_val=prompt('New Price', old_val)
        console.log(new_val);
        const response = fetch("/item_price/"+id, {
            method: "POST",
            body: new_val
        }).then(() => window.location.reload());
    }
    </script>
{% endblock %}

{%set heads=[
    ("ID", "col-1"),
    ("Name", "col"),
    ("Tier", "col-1"),
    ("Enchantment", "col-2"),
    ("Quality", "col-1"),
    ("Price", "col-1")
]%}

{% block body %}
    <div class="container border">
        <div class="row">
            {% for name, col in heads[1:] %}
                <div class="{{col}}">
                    {{name}}
                </div>
            {% endfor %}
        </div>
        <div class="row">

            <div class="{{heads[1][1]}}"> <a href="/item/{{item.id}}">
                {{item.name}}
            </a> </div>

            <div class="{{heads[2][1]}}"> {{item.tier}} </div>
            <div class="{{heads[3][1]}}"> {{item.enchant}} </div>
            <div class="{{heads[4][1]}}"> {{item.quality}} </div>

            <div class="{{heads[5][1]}}" onclick="update_price('{{item.id}}', {{item.average_price}})">
                {{item.average_price}}
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <div class="container border"> <div class="row">
        <div class="col">
            <div class="row">
                Recipes for {{item.name}}
            </div>
            
            <div class="row">
                <div class="col">
                    Name
                </div>
                <div class="col">
                    Description
                </div>
            </div>
            {% for recipe in recipes_for %}
            <div class="row">
                <div class="col">
                    <a href="/recipe/{{recipe.id}}">
                    {{recipe.name}}
                    </a>
                </div>
                <div class="col">
                    <a href="/recipe/{{recipe.id}}">
                    {{recipe.description}}
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="col">
            <div class="row">
                Recipes using {{item.name}}
            </div>
            
            <div class="row">
                <div class="col">
                    Name
                </div>
                <div class="col">
                    Description
                </div>
            </div>
            {% for recipe in recipes_using %}
            <div class="row">
                <div class="col">
                    <a href="/recipe/{{recipe.id}}">
                    {{recipe.name}}
                    </a>
                </div>
                <div class="col">
                    <a href="/recipe/{{recipe.id}}">
                    {{recipe.description}}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> </div>


{% endblock %}
</body>